<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/s1.jpg" alt="Angular Carousel 1">
      </div>
      <div class="carousel-caption">
        <h1>Transformer</h1>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/s2.jpg" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption ">
        <h1>Busbar Trunking</h1>
        <!-- <p>Consectetur tortor volutpat pretium.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/s3.jpg" alt="Angular Carousel 2">
        </div>
        <div class="carousel-caption">
          <h1>Sub-Station</h1>
          <!-- <p>Consectetur tortor volutpat pretium.</p> -->
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/s4.jpg" alt="Angular Carousel 2">
        </div>
        <div class="carousel-caption">
          <h1>SOLAR</h1>
          <!-- <p>Consectetur tortor volutpat pretium.</p> -->
        </div>
      </ng-template>
  </ngb-carousel>