<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>We provide best electrical services in bangladesh</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="">Complete Sub-Station</a></h4>
            <p class="description">The substation is a part of an electrical generation, transmission, and distribution system.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-card-checklist" style="color: #e9bf06;"></i></div>
            <h4 class="title"><a href="">Busbar Trunking System</a></h4>
            <p class="description">Bus bar Trucking System is the is a system of distributing electric power using copper or aluminum bus bar with suitable enclosures and good amount of protection to prevent the cables from getting damaged due to foreign bodies</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-bar-chart" style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a href="">Lightning protection system</a></h4>
            <p class="description">Lightning protection system is a passive means of preventing property damage from the effects of a lightning strike.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
            <h4 class="title"><a href="">Solar systems</a></h4>
            <p class="description">The main aspire of solar panels is to tap liveliness from the sun and transform it into electricity. The simulation is stored in a battery for well along use.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-brightness-high" style="color: #d6ff22;"></i></div>
            <h4 class="title"><a href="">Assembly Planet</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-calendar4-week" style="color: #4680ff;"></i></div>
            <h4 class="title"><a href="">Solar systems</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
        </div>
      </div>

    </div>
  </section>
