@import "~bootstrap-icons/font/bootstrap-icons.css";
  /*--------------------------------------------------------------
  # Header Social Links
  --------------------------------------------------------------*/
  .header-social-links {
    padding-left: 20px;
  }
  
  .header-social-links a {
    color: rgba(3, 3, 3, 0.6);
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  
  .header-social-links a i {
    line-height: 0;
  }
  
  .header-social-links a:hover {
    color: #006CB7;
  }
  
  @media (max-width: 768px) {
    .header-social-links {
      padding: 0 0 0 0;
    }
  }