<header>
    <div class="container-fluid d-flex align-items-center justify-content-lg-between">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        
        <div
          mdbCollapse
          class="collapse navbar-collapse"
          id="jumbotronExample"
        >
          <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item px-3 ">
               
              <a class="nav-link text-dark" aria-current="page" href="#"><span><p>+880 1676168247</p></span></a>
              
            </li>
           
            <li class="nav-item px-3">
              <a class="nav-link text-dark" href="#"><span><p>Redwan Engineering,178,Tatul Tala,North Badda,Dhaka Bangladeah.</p></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#"><span>redwanengineeringbd@gmail.com</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="header-social-links d-flex align-items-center px-5">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
</div>
</header>