<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            Redwan Engineering Ltd has been providing specialized products and engineering services to Bangladesh power and process industries since 2020.

We consider our Customer and Business Associates to be our partners in growth. Our strength lies in the knowledge base that we have built up over the years and this is the reason why our Customers expect and demand more from us.

Supervised by a highly skilled team of professionals. We also undertake Electrification and Commissioning of various projects Design, Supply, Installation, Commissioning and Maintenance of Transformer, HT, LT, MCC, PFI, ATS, MDB, SDB, LPS, Solar& BBT Electrical system related to Power Control Systems.
          </p>
        
        </div>
        <div class="aboutLeft col-lg-6 pt-4 pt-lg-0">
          <img src="./assets/about.jpg" alt="">
         <!-- <ul>
          
           <li><i class="ri-check-double-line"></i>Agility</li>
           <p>We achieve agility by being responsive and collaborative</p>
           <li><i class="ri-check-double-line"></i>Ethics</li>
           <p>We conduct business with the highest standards of ethics and integrity</p>
            <li><i class="ri-check-double-line"></i>Excellence</li>
            <p>We believe in ensuring excellence in commitment and effort.</p>
         </ul>
          <a href="#" class="btn-learn-more">Learn More</a> -->
        </div>
      </div>

    </div>
  </section>
