a {
    color: #006CB7;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffa790;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  
section {
    padding: 60px 0;
    overflow: hidden;
   
    
  }


