<section id="our-values" class="our-values">
    <div class="container">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card" style='background-image: url("assets/our-values-1.jpg");'>
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Mission</a></h5>
              <p class="card-text">Achieve customer satisfaction by providing world-class products and services. Be an early adopter of technologies to improve and expand product. Ensure presence in the national markets growth. Enable our team to realize its full potential and achieve excellence.</p>
              <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="card" style='background-image: url("assets/our-values-2.jpg");'>
            <div class="card-body">
              <h5 class="card-title"><a href="">Respect</a></h5>
              <p class="card-text">We treat everyone with respect and dignity irrespective of gender, position and background</p>
              <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>

        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4">
          <div class="card" style='background-image: url("assets/footer2.jpg");'>
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Vision</a></h5>
              <p class="card-text">Our vision is to become the most reliable power solutions provider in our Country.</p>
              <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4">
          <div class="card" style='background-image: url("assets/footer.jpg");'>
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Ownership</a></h5>
              <p class="card-text">We empower team members to take ownership of their work with pride and responsibility.</p>
              <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
